@use "variables/fonts";
@use "variables/colours";

body.opendatafit,
body.opendatafit-webapp,
figure.opendatafit-embed {
  strong {
    font-weight: bold;
  }

  emph {
    font-style: italic;
  }

  dt {
    font-weight: bold;
  }

  h1, h2, h3 {
    @include fonts.typeface;
    font-family: var(--typeface-heading);
    font-weight: var(--typeface-heading-weight);
  }

  // Links
  a {
    @include colours.body;
    &:link, &:visited {
      color: var(--link);
    }
    &:hover, &:active {
      color: var(--linkhover);
    }

    &:disabled {
      text-decoration: none;
    }
  }
}
