@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

// Bold
@font-face {
  font-family: Cerebri Sans;
  font-weight: 700;
  src:
    url("/assets/fonts/CerebriSans/CerebriSans-Bold.ttf") format('truetype'),
    url("/assets/fonts/CerebriSans/CerebriSans-Bold.eot") format('embedded-opentype'),
    url("/assets/fonts/CerebriSans/CerebriSans-Bold.woff") format('woff'),
    url("/assets/fonts/CerebriSans/CerebriSans-Bold.svg") format('svg');
}

// Semi bold
@font-face {
  font-family: Cerebri Sans;
  font-weight: 600;
  src:
    url("/assets/fonts/CerebriSans/CerebriSans-SemiBold.ttf") format('truetype'),
    url("/assets/fonts/CerebriSans/CerebriSans-SemiBold.eot") format('embedded-opentype'),
    url("/assets/fonts/CerebriSans/CerebriSans-SemiBold.woff") format('woff'),
    url("/assets/fonts/CerebriSans/CerebriSans-SemiBold.svg") format('svg');
}

// Regular
@font-face {
  font-family: Cerebri Sans;
  font-weight: 400;
  src:
    url("/assets/fonts/CerebriSans/CerebriSans-Regular.ttf") format('truetype'),
    url("/assets/fonts/CerebriSans/CerebriSans-Regular.eot") format('embedded-opentype'),
    url("/assets/fonts/CerebriSans/CerebriSans-Regular.woff") format('woff'),
    url("/assets/fonts/CerebriSans/CerebriSans-Regular.svg") format('svg');
}

// Bold
@font-face {
  font-family: Noto Sans;
  font-weight: 700;
  src: 
    url("/assets/fonts/NotoSans/NotoSans-Bold.ttf") format('truetype'),
    url("/assets/fonts/NotoSans/NotoSans-Bold.eot") format('embedded-opentype'),
    url("/assets/fonts/NotoSans/NotoSans-Bold.woff") format('woff'),
}

// Regular
@font-face {
  font-family: Noto Sans;
  font-weight: 400;
  src: 
    url("/assets/fonts/NotoSans/NotoSans-Regular.ttf") format('truetype'),
    url("/assets/fonts/NotoSans/NotoSans-Regular.eot") format('embedded-opentype'),
    url("/assets/fonts/NotoSans/NotoSans-Regular.woff") format('woff'),
}

// Light
@font-face {
  font-family: Noto Sans;
  font-weight: 200;
  src:
    url("/assets/fonts/NotoSans/NotoSans-Light.ttf") format('truetype'),
    url("/assets/fonts/NotoSans/NotoSans-Light.eot") format('embedded-opentype'),
    url("/assets/fonts/NotoSans/NotoSans-Light.woff") format('woff'),
}
