@use "mixins/reset";
@use "variables/colours";
@use "variables/fonts";

body.opendatafit-webapp,
body.opendatafit,
figure.opendatafit-embed {
  input {
    border: 1px solid lighten(grey, 30%);
    border-radius: 4px;
    color: #000;
    line-height: 2em;
    padding: 0 1ch;
    border-radius: 4px;
    &:focus {
      outline: #0e71f2 solid 2px;
    }
  }

  label {
    font-weight: bold;
    font-size: 0.9em;
  }

  input {
    display: block;
  }

  button {
    @include reset.button;
    @include colours.button;
    @include fonts.typeface;

    font-family: var(--typeface-condensed);
    font-size: 1em;
    font-weight: normal;

    cursor: pointer;

    vertical-align: middle;

    border: 1px solid #aaa;
    border-radius: 5px;

    padding-left: .7em;
    padding-right: .7em;
    padding-top: .3em;
    padding-bottom: .3em;

    transition: .3s ease-out;

    i {
      font-size: 0.8em;
    }

    &:hover {
      // box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 1px 3px 1px rgb(26 115 232 / 30%);
      // box-shadow: 0 1px 3px 1px rgb(26 115 232 / 40%);
      // background-color: #297be6;
      // outline: 1px solid transparent;
    }

    &:active {
      box-shadow: none;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: var(--disabled);
      color: var(--disabled-text);
      box-shadow: none;
    }
  }
}
