@mixin typeface {
  --typeface: "Noto Sans", sans;
  --typeface-heading: "Noto Sans", sans;
  --typeface-heading-weight: 600;
  --typeface-branding: "Cerebri Sans", sans;
  --typeface-branding-weight: 600;
  --typeface-condensed: "Noto Sans Display", sans;
}

@mixin icon {
  --icon-font: "FontAwesome";
}
