$typeface: "Noto Sans", sans;
// $typeface-branding: "Cerebri Sans", sans;
// $typeface-branding-weight: 500;
$typeface-branding: "Averta", sans;
$typeface-branding-weight: 400;
$typeface-condensed: "Roboto Condensed", sans;

$icon-font: "FontAwesome";
